.layout-register {
  /* background: url("../src/assestes/darkness.webp"); */
  background: url("../src/assestes/grey_sandbag.webp");
}

.layout-login {
  background: url("../src/assestes/darkness.webp");
  /* background: url("../src/assestes/grey_sandbag.webp"); */
}

.login-page {
  color: white;
  width: 400px;
  border: 1px solid rgb(245, 240, 240);
  padding: 2rem;
  border-radius: 5px;
  margin: auto;
  box-shadow: -4px 8px 8px 5px rgba(24, 24, 24, 0.372);
  font-weight: 600;
}

.register-page {
  width: 400px;
  max-height: 450px;
  border: 1px solid rgb(245, 240, 240);
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  margin: auto;
  box-shadow: -4px 8px 8px 5px rgba(24, 24, 24, 0.372);
  font-weight: 600;
  color: black;
}

.header {
  font-weight: 700;
}

.dashboard {
  max-height: 300px;
  overflow-x: hidden;
}

.transForm {
  margin-top: 0;
  background: rgb(219, 213, 106);
  font-weight: 700;
  letter-spacing: 2px;
  min-height: 100px;
  padding: 1rem;
  margin-bottom: 12px;
  border-radius: 4px;
  /* box-shadow: -2px 2px 2px 2px grey; */
}

.transTable {
  background: rgb(77, 117, 196);
  color: white;
  font-weight: 500;
  letter-spacing: 1.5px;
  min-height: 400px;
  padding: 1rem;
  margin-bottom: 12px;
  border-radius: 4px;
  /* box-shadow: -2px 2px 20px 10px rgb(99, 99, 206); */
}

footer {
  font-weight: 600;
}
